/* PAGES CSS GLOBAL */

/* HOME */

header {
    display: flex;
    justify-content: center;
    height: 50vh;
}

header::before {
    position: absolute;
    top: 5%;
    right: 0px;
    bottom: 50%;
    left: 0px;
    content: "";
    background-image: url("../img/zimmer.jpg");
    background-size: cover;
    opacity: 50%;
    background-repeat: no-repeat;
}

h1 {
    font-size: 4rem;
    margin-top: 25vh;
    position: relative;
}